$bg-color-01:#000;
$bg-color-02:#9a92;
$bg-color-03:#f5f5f5;
$bg-tx-color-01:#ff4500;
$white:#ffff;
$black:#000;
$tx-color-01:#888;
$tx-color-02:#525252;
$tx-color-03:#9a9292;
$border-color:rgba(52, 55, 144, 0.15);
$box-shadow:rgba(52, 70, 53 ,0.4);